
#button-saida{
    background-color: #D3D3D3;
    color:black
}
#CardActions{
    display: flex;
    justify-content: space-between;
}
#button-add{
    position: fixed;
    top: 500px;
    right:80px;
}
#demo-simple-select-label 
{
    color:black
}
#demo-simple-select{
    border: 1px solid black
}